<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center" color = "white">
  <img class="displayed"  height="250 px" width="250 px" src="assets/images/GoodFoodLogo.png" alt="logo">
    <div padding>    
      <ion-item>    
            <ion-label position = "floating">
              Email Address
            </ion-label>
            <ion-input type = "text" [(ngModel)]="emailAddress"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" (click)="resetPassword()">Reset Password</ion-button>
        </ion-col>
      </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your GoodFood account.
    </small>
    </div>
  <form>


  </form>
</ion-content>