<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <!-- <ion-item *ngFor="let item of listings" >
    <ion-card>
     <ion-item>
       <ion-icon name="restaurant" slot="start"></ion-icon>
       <ion-label class="ion-text-wrap">{{item.name}}</ion-label>
     </ion-item>    
   
     <ion-card-content>
       <p> Price: ${{item.price | number:'1.2-2'}}</p>
       <p> Description: {{item.description}}</p>
       <p> Location: {{item.location}}</p>
       <p> Retailer Type: {{item.retailerType}}</p>
     </ion-card-content>
   </ion-card>
  </ion-item> -->
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar position="bottom" style="text-align: center;">     
    <ion-button (click)="addListing()" size="large">Add Listing</ion-button>    
  </ion-toolbar>
</ion-footer>

