<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <div *ngFor="let item of ((retailerItems | async)?.listings)">
    <ion-card>

     <ion-item>
      <ion-card-title class="ion-text-wrap">{{item.name}}</ion-card-title>
    </ion-item>
   
     <ion-card-content> 
        <p> Description: {{item.description}}</p>      
     </ion-card-content>
   </ion-card>
  </div>  
  
    <ion-text *ngIf="((retailerItems | async)?.listings).length <= 0" class="centerText" color="primary" style="text-align: center">
      <p>There are no listings currently.</p>
    </ion-text>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar position="bottom" style="text-align: center;">     
    <ion-button (click)="addListing()" size="large">Add Listing</ion-button>    
  </ion-toolbar>
</ion-footer>

