<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="!isReady">
  
  <div *ngFor="let item of ((retailerItems | async)?.listings)">
    <ion-card>

     <ion-item>
      <ion-card-title class="ion-text-wrap">{{item.name}}</ion-card-title>
      <ion-button  (click)="delete(item)" fill="outline" slot="end">Delete</ion-button> 
      <ion-button  *ngIf="item.isListed" (click)="unpublish(item)" fill="outline" slot="end">Unpublish</ion-button> 
    </ion-item>
   
     <ion-card-content [routerLink]="['/retailer-listing']" [queryParams]="{ id: item.listingID }" routerDirection="forward"> 
      <p> Price: ${{item.price | number:'1.2-2'}}</p>
      <p> Description: {{item.description}}</p>
      <p> Location: {{location}}</p>
      <p> Retailer Type: {{retailerType}}</p>     
     </ion-card-content>
   </ion-card>
  </div>  
 
    <ion-text *ngIf="((retailerItems | async)?.listings).length <= 0" class="centerText" color="primary" style="text-align: center">
      <p>There are no listings currently.</p>
    </ion-text>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar position="bottom" style="text-align: center;">     
    <ion-button size ="large" [routerLink]="['/new-listing']" routerDirection="forward">Add Listing</ion-button>    
  </ion-toolbar>
</ion-footer>

