<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="initial-page"></ion-back-button>
    </ion-buttons> 
    <ion-title>
      Good Food Retailer Registration
    </ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-list>
    <ion-item>
      <ion-label position = "floating">
          Name
        </ion-label>
        <ion-input type = "text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <br>
  <ion-item>
    <ion-label position = "floating">
        Email Address
      </ion-label>
      <ion-input type = "text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position = "floating">
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position = "floating">
      Confirm Password
    </ion-label>
    <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
</ion-item>
</ion-list>
  
<div style="text-align: center">
  <br>
<ion-button fill="solid" Size = "large" color="primary" (click)="register()">Sign Up</ion-button>
</div>
</ion-content>

