<ion-header style="text-align: center">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="initial-page"></ion-back-button>
    </ion-buttons> 
    <ion-title>
      Registration
    </ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Pick Up Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="pickupTime" (ionChange)="setPickupTime(this.pickupTime)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position = "floating">
          Name
        </ion-label>
        <ion-input autocapitalize='sentences' type = "text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position = "floating">
        Email Address
      </ion-label>
      <ion-input type = "text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
        Address Line 1
      </ion-label>
      <ion-input autocapitalize='sentences' type = "text" [(ngModel)]="location"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
        City
      </ion-label>
      <ion-input autocapitalize='sentences' type = "text" [(ngModel)]="city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
        State
      </ion-label>
      <ion-input autocapitalize='sentences' type = "text" [(ngModel)]="state"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
        Zipcode
      </ion-label>
      <ion-input type = "text" [(ngModel)]="zipcode"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
        Retailer Type
      </ion-label>
      <ion-input autocapitalize='sentences' type = "text" [(ngModel)]="retailerType"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position = "floating">
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position = "floating">
      Confirm Password
    </ion-label>
    <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
</ion-item>
</ion-list>
  
<div style="text-align: center">
  <br>
<ion-button expand="block" fill="solid" Size = "large" color="primary" (click)="register()">Sign Up</ion-button>
</div>
</ion-content>



