<ion-header style="text-align: center">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/initial-page"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img class="displayed" width="100%" src="assets/images/GoodFoodLogo.png" alt="logo">
  <p style="text-align: center;"> This is the about page: please add your information about Innova Waste Consulting and the Good Food application.</p>

</ion-content>
