<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/initial-page"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <img class="displayed" height="250 px" width="250 px" src="assets/images/GoodFoodLogo.png" alt="logo">
    <div padding>
      <small>
        Please enter the current password and new password for your Good Food account.
      </small>
      <br>
      <ion-item>
        <ion-label position = "floating">
            Current Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position = "floating">
            New Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="newpassword"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position = "floating">
          Confirm Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" color="primary" expand="block" (click)="updatePassword()">Update Password</ion-button>
    
  </div>


</ion-content>
