<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      Good Food
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="!isReady" fullscreen>  
  <img [src]="url" style="width:100%;"> 
  <h1 style="text-align: center;"> {{ name }} </h1>

  <div id="container" *ngIf="!isRead">

    <div class="ion-text-center" *ngIf="!isUploading && !isUploaded">
      
        <h2>Image Upload</h2>
      
        <ion-button class="ion-text-center" color="primary" style="width: 100%">
          <input type="file" (change)="uploadImage($event.target.files)" />
        </ion-button>
      </div>
     

    <!-- File upload progress bar -->
    <!-- <div *ngIf="percentageVal | async as percentage">
      Progress: {{ percentage | number }}%
      <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
    </div>

    <div *ngIf="trackSnapshot | async as snap">
      File size: {{ snap.totalBytes | formatFileSize }} 
      
      Data transfered: {{ snap.bytesTransferred | formatFileSize }}
    </div>     -->

  </div>
 
  <ion-item >    
    <ion-label>
      Retailer Name:
    </ion-label>
    <ion-textarea placeholder="{{ name }}" [readonly]="isRead" [(ngModel)]="name" ></ion-textarea>
  </ion-item>

   <ion-item >    
        <ion-label>
          Retailer UID:
        </ion-label>
        <ion-textarea placeholder="{{ retailerUID }}" [readonly]=true  ></ion-textarea>
    </ion-item>

     <ion-item >    
        <ion-label>
          Retailer Email Address:
        </ion-label>
        <ion-textarea placeholder="{{ email }}" [readonly]=true  ></ion-textarea>
    </ion-item>
    
    <div style="text-align: center"> 
      <section >
        <br>
        <ion-button expand="block" (click)="edit()">{{buttonText}}</ion-button>
      </section>
      <section>
        <ion-button expand="block" (click)="updatePassword()">Update Password</ion-button>
      </section>
    </div>

    
</ion-content>