<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      Good Food
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="!isReady" fullscreen>
  <img [src]="url" style="width:100%;"> 
  <h1 style="text-align: center;"> {{ name }} </h1>
 
  <ion-item >    
    <ion-label>
      Retailer Name:
    </ion-label>
    <ion-textarea placeholder="{{ name }}" [readonly]="isReadonly()" [(ngModel)]="name" ></ion-textarea>
  </ion-item>

   <ion-item >    
        <ion-label>
          Retailer UID:
        </ion-label>
        <ion-textarea placeholder="{{ retailerUID }}" [readonly]=true  ></ion-textarea>
    </ion-item>

     <ion-item >    
        <ion-label>
          Retailer Email Address:
        </ion-label>
        <ion-textarea placeholder="{{ email }}" [readonly]=true  ></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>
          Password:
        </ion-label>
        <ion-textarea placeholder="{{ password }}"  [readonly]=true ></ion-textarea>
    </ion-item>  
    
    <div style="text-align: center"> 
      <section >
        <br>
        <ion-button size ="large" (click)="edit()">{{buttonText}}</ion-button>
      </section>
    </div>
</ion-content>