<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/restaurant.jpg" style="width:100%;"> 
  <h1 style="text-align: center;"> {{ name }} </h1>
  <h2 style="text-align: center;">{{ retailer }}</h2>
  <p>Retailer Email: {{ email }}</p>
  <p> Retailer UID: {{ retailerUID }} </p>

</ion-content>