<ion-header style="text-align: center">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="!isReady">
  <div *ngFor="let item of ((userItems | async)?.orders).sort().reverse()">
    <ion-card>

     <ion-item>
      <ion-card-title class="ion-text-wrap">{{getRetailer(item.retailerUID)}}</ion-card-title>
    </ion-item>
   
     <ion-card-content> 
        <p> Ordered: {{item.date.toDate().toLocaleString()}}</p> 
        <!-- <p> Quantity: {{item.quantity}}</p>       -->
     </ion-card-content>
   </ion-card>
  </div>

  
  
    <ion-text *ngIf="((userItems | async)?.orders).length <= 0" class="centerText" color="primary" style="text-align: center">
      <p>There are no orders currently.</p>
    </ion-text>
  
</ion-content>
