<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="initial-page"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "white">
  <img class="displayed"  height="250 px" width="250 px" src="assets/images/GoodFoodLogo.png" alt="logo">
    <div padding>    
      <ion-item>    
            <ion-label position = "floating">
              Email Address
            </ion-label>
            <ion-input type = "text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position = "floating">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        </div>
     
 <div style="text-align: center"> 
  <section >
    <br>
    <ion-button size ="large" (click)="login()">Login</ion-button>
  </section>
  <br>
  <section>
    <ion-text [routerDirection] = "'forward'" [routerLink]="['/password-reset']" color="primary">
      <a><u>Forgot Password?</u></a>
    </ion-text>
  </section>
</div>
  
</ion-content>


