<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <div *ngFor="let item of ((retailerItems | async)?.orders)">
    <ion-card>

     <ion-item>
      <ion-card-title class="ion-text-wrap">{{item.name}}</ion-card-title>
    </ion-item>
   
     <ion-card-content> 
        <p> Description: {{item.description}}</p>
        <p> Ordered: {{item.date.toDate().toLocaleString()}}</p>
        <p> User: {{getUser(item.userUID)}}</p>      
     </ion-card-content>
   </ion-card>
  </div>

  
  
    <ion-text *ngIf="((retailerItems | async)?.orders).length <= 0" class="centerText" color="primary" style="text-align: center">
      <p>There are no orders currently.</p>
    </ion-text>
  
</ion-content>

