<ion-header color= "primary">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <ion-toolbar mode="ios" color="primary"> 
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>     
    <div id="mapId" ></div>
    <div id="overMap">  
      <ion-slides slidesPerView="1" (ionSlideDidChange)="slideChanged($event)">      
        <ion-slide *ngFor="let item of restaurants; let i = index"> 
          <ion-card>
          <ion-card-header> 
            <ion-card-title class="ion-text-wrap" style="font-weight: bold;">{{item.name}}</ion-card-title>
          </ion-card-header>   
      <ion-card-content> 
        <p>{{item.location}}</p> 
        <div *ngFor="let listing of item.listings" >
        <ion-text *ngIf="listing.isListed" [routerLink]="['/user-listing']" [queryParams]="{ id: listing.listingID }" routerDirection="forward">{{listing.name}}</ion-text>
      </div>
      </ion-card-content>
    </ion-card>
    </ion-slide>
    </ion-slides>
    </div>   
</ion-content>