#mapId {
    height: 100%;
    width: 100vw;
    
    z-index: 1;
}

ion-content {
    --overflow: hidden;
}

#overMap{    
    position: fixed;
    left: 0%;
    top: 60%;
    bottom: 0%;
    right: 0%;
    z-index: 1;
}

ion-card{
    
    background: rgba(255,255,255,0.8);
}

ion-grid, ion-row, ion-col{    
    color:#4054b2;
    text-decoration: underline;
}





    
  