<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="!isReady"> 

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <br>
  <ion-toolbar> 
    <ion-row>
      <ion-col size="10">
      <ion-searchbar mode="ios" (ionInput)="search($event)" placeholder = {{searchText}}></ion-searchbar>
    </ion-col>
      <ion-col size="1">
      <ion-icon size="4" name="options" (click)="filterSearch()"></ion-icon>
    </ion-col>
  </ion-row> 
    </ion-toolbar> 
    
  <div *ngFor="let item of listings">   
    <ion-card [routerLink]="['/user-listing']" [queryParams]="{ id: item.listingID }" routerDirection="forward">
             
        <img src={{item.url}} style="width:100%;"> 
        <ion-card-header> 
          <ion-card-title class="ion-text-wrap">{{getRetailer(item.retailerUID)}}</ion-card-title> 
        </ion-card-header>
   
     <ion-card-content> 
      <p style="font-weight: bold; color:black"> {{item.quantity}} meals left</p>
       <p> Price: ${{item.price | number:'1.2-2'}}</p>
       <p> Location: {{item.location}}</p>
       <p> Retailer Type: {{item.retailerType}}</p>
     </ion-card-content>
   </ion-card>
  </div>
</ion-content>