.large{
    font-size: 1500%;
}

.centerText {
    height: 90% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center!important;
    flex-wrap: wrap !important;    
 }

 #subtotal{
    padding-right: 2%;
 }

