<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Good Food</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <div *ngFor="let item of ((userItems | async)?.cart)">
    <ion-card>

     <ion-item>
      <ion-card-title class="ion-text-wrap">{{item.name}}</ion-card-title>
      <ion-button  (click)="delete(item)" fill="outline" slot="end">Delete</ion-button> 
    </ion-item>
   
     <ion-card-content> 
        <p> Description: {{item.description}}</p>
     </ion-card-content>
   </ion-card>
  </div>

 <ion-grid class="my-grid" *ngIf="((userItems | async)?.cart).length <= 0"> 
  <ion-row justify-content-center align-items-center style="height: 50%; flex-direction: column">
    <ion-col class="parent-row">      
      <ion-icon class="large" color="primary" name="cart"></ion-icon>   
  </ion-col>
  </ion-row>  
  
  <ion-row justify-content-center align-items-center style="flex-direction: column"> 
  <ion-col class="parent-row">
    <ion-text color="primary" style="text-align: center">
      <h2>There are no items in the cart!</h2>
    </ion-text>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer *ngIf="((userItems | async)?.cart).length > 0" class="ion-no-border">
  <ion-toolbar *ngIf="userItems | async as cartData"  position="bottom" style="text-align: center;">     
    <ion-button (click)="checkOut(cartData.cart)" size="large">Checkout</ion-button>    
  </ion-toolbar>
</ion-footer>
