<ion-header style="text-align: center" [translucent]="true" [hidden]="!isReady">
  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "white" [hidden]="!isReady">  
  <img class="displayed"  height="250 px" width="250 px" src="assets/images/GoodFoodLogo.png" alt="logo">
         
 <div style="text-align: center"> 
  <section >
    <ion-button size="large" color = "primary" [routerDirection] = "'forward'" [routerLink]="['/register']">Create Account</ion-button>
  </section>
  <section >  
    <ion-button size="large" color = "secondary" [routerDirection] = "'forward'" [routerLink]="['/retailer-register']">I'm a Retailer</ion-button>
  </section>
  <section > 
    <br>
    <br> 
  <ion-text color="primary">
    Already have an account?
  </ion-text>
  <ion-text [routerDirection] = "'forward'" [routerLink]="['/login']" color="primary">
    <a><u>Log In</u></a>
  </ion-text>
</section > 

</div>
  
</ion-content>

