<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> Name: {{ name }} </p>
  <p> Description: {{ description }} </p>
  <p> Price: ${{ price | number:'1.2-2' }}</p>
  <p> Location: {{ location }}</p>
  <p> Quantity: {{ quantity }}</p>
  <p> Retailer Name: {{ retailer }}</p>
  <p> Retailer Type: {{ retailerType }}</p>
</ion-content>
