<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="url" style="width:100%;"> 
  <h1> {{ name }} </h1>
  <h2> Retailer: {{ retailer }}</h2>
  <p> Description: {{ description }} </p>
  <p> Price: ${{ price | number:'1.2-2' }}</p>
  <p> Location: {{ location }}</p>
  <p> Quantity: {{ quantity }}</p>  
  <p> Retailer Type: {{ retailerType }}</p>
  <div style="text-align: center"> 
    <section >
      <br>
      <ion-button size ="large" (click)="cart(listing)">Add To Cart</ion-button>
    </section>
  </div>
</ion-content>
