<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="url" style="width:100%;"> 

  <h1 style="text-align: center; font-weight: bold"> {{ retailer }}: {{ name }}</h1>
  <hr>
  <ion-text color="primary">
  <h3 style="text-align: center; font-weight: bold;" > ${{ price | number:'1.2-2' }}</h3>
  </ion-text> 

  <div style="text-align: center; font-size: large;">
    <ion-icon name="location-outline"></ion-icon> 
    {{ location }}
  </div>

  <p style="text-align: center"> {{ quantity }} meals left</p>  
  <hr> 
  <p style="text-align: center; font-size: large;"> {{ description }} </p>  
  
  <div style="text-align: center"> 
    <section >
      <br>
      <ion-button size ="large" (click)="cart(listing)">Add To Cart</ion-button>
    </section>
  </div>
</ion-content>
