<ion-header style="text-align: center" [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="Back" defaultHref="/retailertabs/retailertabs/retailertab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Good Food
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-app>
    <ion-content fullscreen>
      <br>
      <br>
      <br>
      <br>

        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-input placeholder="{{ name }}" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description:</ion-label>
          <ion-input placeholder="{{ description }}" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price:</ion-label>
          <ion-input type="number" step="0.01" placeholder="{{ price }}" [(ngModel)]="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Quantity:</ion-label>
          <ion-input type="number" placeholder="{{ quantity }}" [(ngModel)]="quantity"></ion-input>
        </ion-item>

        <ion-footer class="ion-no-border">
          <ion-toolbar position="bottom" style="text-align: center;">     
            <ion-button (click)="save()">Add Listing</ion-button>    
          </ion-toolbar>
        </ion-footer>
        
      </ion-content>
  </ion-app>
  </body>
